.container{
	padding-right: 0px;
    padding-left: 0px;
}
#container1{
    width: 350px;
    position: absolute;
    bottom: 0;
    right: 10px;
}
#container2, #container3, #container5, #container6{
	z-index: 1;
    height: 420px;
    width: 350px;
    position: absolute;
    bottom: 0;
    right:0;
}
ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 10px;
}
.content{
    height: 350px;
	overflow-x: hidden;
    overflow-y: auto;
    border : 1px solid #e6e6e6;
}
.navbar {
    background-color: #6DA8E3;
    border-color: #6DA8E3;
    margin-bottom: 0px
}
.navbar .navbar-brand, #status {
    color: #ffffff;
}
.navbar-toggleable-xl .navbar-brand{
    margin-top: 0;
}
.navbar-brand{
    font-weight: bold;
}
ul.navbar-nav {
    position: absolute;
    top: 0;
    right: 0;
}
li.nav-item {
    list-style-type: none;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #ffffff;
}
.nav-justified>li>a:hover {
    background-color: #6DA8E3;
    color: #ffffff;
}
.nav-pills>li.active>a {
    background-color: #6DA8E3;
}
.nav-pills>li>a {
    border-radius:1px;
}
.input-group .form-control{
	z-index: 0;
}
.fa{
    font-size: 20px;
    line-height: 1;
    color : #ffffff;
}
.input-group-addon{
    background-color: #ffffff;

}
hr {
    border-top: 3px solid #6DA8E3;
    margin-top:0px;
    margin-bottom: 0px;
}
.media-heading {
    margin-top: 10px;
}


#side label{
    font-weight: 400;
}
input[type=text], input[type=password], textarea{
    width: 100%;
    border:0;
}

input[type=radio], input[type=checkbox]{
    float: right;
}
input[type='radio'] {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        outline: none;
        border: 2px solid gray;
    }

    input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
    }

 input[type="radio"]:checked::before {
        background: #6DA8E3;
    }
    
    input[type="radio"]:checked {
      border-color:#6DA8E3;
    }

 
.list-group-item.label{ 
    background-color: #f1f1f1; 
    color: #000000;
}


#container4 {
	z-index: 1;
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
}

#container4 ul li{
    cursor:pointer;
    color : #6DA8E3;
}
ul#list1 {
    width: 350px;
    text-align: center;
    border: 1px ridge;
}
.fa-caret-up {
    color : #ffffff;
    position: relative;
    left: 81%;
}
#container5, #container6, #container6 .list-group-item {
	background-color: #F8F8F8;
}
.btn-primary {
    background-color: #6DA8E3;
    border-color: #6DA8E3;
}

.left-side li{
	cursor: pointer;
}

#container7{
	z-index: 1;
    width: 350px;
    position: fixed;
    bottom: 0;
    right: 370px;	
}
.fa-angle-right, .fa-angle-down {
    cursor: pointer;
    position: absolute;
    top: 13px;
    left: 150px;
    font-size: 30px;
}
#container8, #container9 {
	z-index: 1;
	width: 350px;
    position: absolute;
    top: 55px;
    bottom: 0;
    right: 360px;
}

#container8 ul li, #container9 ul li{
    cursor:pointer;
}


#chatArea{
	height: 441px;
	overflow-x: hidden;
    overflow-y: auto;
    border : 2px solid #ddd;
    background-color: #ffffff;
}
#msgInput {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}

#msgInput input{
    width: 70%;
    height: 35px;
}
#myInput{
	height: 42px;
}
#send{
	margin-left: 20px;
}

.glyphicon-triangle-top {
    float: right;
    clear : both;
    font-size: 23px;
    margin-right: 4%;
    top: 8px;
    color: #6DA8E3;
}
a {
    color: #337ab7;
}
.popup-box
            {
                display: none;
                position: fixed;
                bottom: 0px;
                right: 370px;
                height: 285px;
                background-color: rgb(237, 239, 244);
                width: 300px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .popup-box .popup-head
            {
                background-color: #6d84b4;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                height: 100%;
                overflow-y: scroll;
            }
            